.header-container {
    background-image: url('untitled1.png');
    margin-bottom: 50px;
    position: relative;
}
.header {
    width: 55%;
    margin-top: 30px;
    margin-left: 10%;
    display: inline-block;
    color: white;
    height: 300px;
}
.guide-button {
    padding-top: 15px;
}
.left-div {
    padding-bottom: 15px;
    color: white;
}
.right-div {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 20%;
    height: 510px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.right-div img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 180px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px;
    padding: 10px;
}
.grid-container > div {
    padding: 1px;
}
.grid-item1 {
    font-weight: bold;
    font-size: 17px;
}
.grid-item2 {
    font-weight: bold;
    text-align: right;
    font-size: 17px;
}
.grid-item3 {
    font-size: 15px;
}
.grid-item4 {
    text-align: right;
    text-decoration-line: line-through;
    color: gray;
    font-size: 15px;
}
.grid-item5 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    font-size: 17px;
}
.grid-item6 {
    font-weight: bold;
    font-size: 14px;
}
.grid-item7 {
    text-align: right;
    font-size: 14px;
}
.grid-item8 {
    font-weight: bold;
    font-size: 14px;
}
.grid-item9 {
    text-align: right;
    font-size: 14px;
}
.grid-item10 {
    font-weight: bold;
    font-size: 14px;
}
.grid-item11 {
    text-align: right;
    font-size: 14px;
}
.grid-item12 {
    font-weight: bold;
    font-size: 14px;
}
.grid-item13 {
    text-align: right;
    font-size: 14px;
}
.grid-item14 {
    font-weight: bold;
    font-size: 14px;
}
.grid-item15 {
    text-align: right;
    font-size: 14px;
}



.purchase-buttons {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    /*gap: 2px;*/
    text-align: center;
    padding: 5px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
#couponForm {
    display: flex;
    align-items: center;
}
#couponInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    width: 100%;
}
#button4 {
    padding: 10px 15px;
    background-color: #595959;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#button4:hover {
    background-color: #262626;
}

.purchase-buttons2 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button5 {
    background-color: #4169E1;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
}
.button6  {
    background-color: #4169E1;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
}
.button5:hover {
    background-color: #18399a;
}
.button6:hover {
    background-color: #18399a;
}

.container-main {
    margin-left: 10%;
    width: 55%;
    background-color: aliceblue;
    border-radius: 10px;
}
.box1 {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.box1-title {
    padding: 20px 15px 0 30px;
}
.box1-grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 25px;
    padding: 0 20px 20px 20px;
}
.box1-grid-item {
    text-align: center;
    padding: 5px;
}
.box2 {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.box2-title {
    padding: 20px 15px 0 30px;
}
.box2-p {
    padding: 0 20px 20px 20px;
}
.box3 {
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.box3-div1 {
    position: relative;
    width: 100%;
    border-radius: 8px;
    
}
.select-btn {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
}
.select-btn .arrow-dwn { 
    display: flex;
    margin-right: 30px;
    color: #262626;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin-right: 20px;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}
.select-btn .btn-text{
    font-size: 16px;
    font-weight: 400;
}
.select-btn .btn-text-time{
    font-size: 16px;
    font-weight: 400;
    margin-left: auto;
}



.list-items {
    position: relative;
    margin-top: 5px;
    border-radius: 8px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
    display: none;
}
.select-btn.open ~.list-items{
    display:block;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
    cursor: point;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
  
.list-items .item:hover{
    background-color: #e7edfe;
}

.item .item-icon {
    margin-right: 50px;
    color: #595959;
}
.item .item-text {
    font-size: 16px;
    font-weight: 400px;
}
  
.box3-div2 {
    position: relative;
    width: 100%;
    border-radius: 8px;
}

.box3-div3 {
    position: relative;
    width: 100%;
    border-radius: 8px;
} 

.box4 {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.box4-title {
    padding: 20px 15px 0 30px;
}
.box4-grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 25px; 
    padding: 0 20px 20px 20px;
}
.box4-grid-item {
    text-align: center;
    padding: 5px;
}
.box5 {
    background-color: white;
    margin-top: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.box5-title {
    padding: 20px 15px 0 30px;
}
.box5-picture {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}
.box5-about {
    display: inline-block;
    width: 60%;
    padding: 0 25px 25px 0px;
}